<div class="contenedor text-center">
 
    <div class="text-center">
      <h1 class=" text-light p-2 border-bottom border-light mx-3 border-3">
        Temporada Otoño-Invierno
      </h1>
    </div>
   
      <div class="row ">
        <div *ngFor="let e of listaMuestraTarjetas" class="col d-flex justify-content-center my-5 ">
          <h1></h1>
          <div class="card justify-content-center pb-3 " style="width: 20rem;">

            <img src="../../../assets/imagen/{{e.imagen}}" class="d-block w-100 " alt="...">
            <h3 class="titulo mt-3 border-bottom mx-5 " >{{e.nombre}}</h3>

            

          </div>
        </div>

      </div>
  </div>
  <div>
  </div>


 


