

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="row titulo "><p class="col titulo1">Umma</p> <div class="row"><p class="col titulo2">Calzados</p></div></div>
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active link" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#">Nuestros Productos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Promociones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">primavera verano</a></li>
              <li><a class="dropdown-item" href="#">descuento 40%</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
         
        </ul>
        
      </div>
    </div>
  </nav>
  

  