.navbar{
    background-image: url(../../../assets/imagen/imagen-boda3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    .container-fluid{
        .navbar-brand{
            font-family: 'Passions Conflict', cursive;
            font-size: 3em;
        }
    }
   
}